<?xml version="1.0"?>
<objects xmlns="http://www.springframework.net">
	<import resource="~/Spring/extensionModel.config" />
	<import resource="~/Spring/platform.config" />
	<import resource="~/Spring/applicationName.config" />
	<import resource="~/Spring/ui.config" />
	<import resource="~/Spring/installers.config" />
	<import resource="~/Spring/fileManagement.config" />

	<object id="Cache" type="RapidWebDev.Common.Data.TransactionalCache, RapidWebDev.Common">
		<constructor-arg name="cache">
			<object type="RapidWebDev.Common.Caching.HttpRuntimeCache, RapidWebDev.Common" />
		</constructor-arg>
	</object>

	<object id="ServicePermissionMapApi" type="RapidWebDev.Common.Web.Services.XmlFileServicePermissionMapApi, RapidWebDev.Common">
		<constructor-arg name="xmlFilePath" value="~/Config/restfulServicePermission.config" />
	</object>
</objects>