<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">		
	<object id="FileManagementApi" type="RapidWebDev.FileManagement.Linq.FileManagementApi, RapidWebDev.FileManagement">
		<constructor-arg name="applicationContext" ref="AuthenticationContext" />
		<constructor-arg name="fileStorageApi" ref="FileStorageApi" />
		<constructor-arg name="thumbnailApi"><null/></constructor-arg>
	</object>

	<object id="FileBindingApi" type="RapidWebDev.FileManagement.Linq.FileBindingApi, RapidWebDev.FileManagement">
		<constructor-arg name="applicationContext" ref="AuthenticationContext" />
		<constructor-arg name="fileManagementApi" ref="FileManagementApi" />
	</object>

	<object id="FileIconApi" type="RapidWebDev.FileManagement.FileIconApi, RapidWebDev.FileManagement" />

	<object id="FileStorageApi" type="RapidWebDev.FileManagement.FileStorageApi, RapidWebDev.FileManagement">
		<constructor-arg name="applicationContext" ref="AuthenticationContext" />
		<property name="FileSharedPath" value="~/FileStorage" />
	</object>
</objects>