<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" xmlns:tx="http://www.springframework.net/tx">
	<object id="ConcreteDataApi" type="RapidWebDev.Platform.Linq.ConcreteDataApi, RapidWebDev.Platform">
		<constructor-arg name="authenticationContext" ref="AuthenticationContext" />
		<property name="Cache" ref="Cache" />
	</object>

	<object id="RelationshipApi" type="RapidWebDev.Platform.Linq.RelationshipApi, RapidWebDev.Platform">
		<constructor-arg name="authenticationContext" ref="AuthenticationContext" />
		<property name="Cache" ref="Cache" />
	</object>

	<object id="HierarchyApi" type="RapidWebDev.Platform.Linq.HierarchyApi, RapidWebDev.Platform">
		<constructor-arg name="authenticationContext" ref="AuthenticationContext" />
		<property name="Cache" ref="Cache" />
	</object>
	
	<object id="OrganizationApi" type="RapidWebDev.Platform.Linq.OrganizationApi, RapidWebDev.Platform">
		<constructor-arg name="authenticationContext" ref="AuthenticationContext" />
		<constructor-arg name="platformConfiguration" ref="PlatformConfiguration" />
		<constructor-arg name="hierarchyApi" ref="HierarchyApi" />
		<property name="Cache" ref="Cache" />
	</object>
	
	<object id="MembershipApi" type="RapidWebDev.Platform.Linq.MembershipApi, RapidWebDev.Platform">
		<constructor-arg name="authenticationContext" ref="AuthenticationContext" />
		<constructor-arg name="organizationApi" ref="OrganizationApi" />
		<property name="Cache" ref="Cache" />
	</object>
	
	<object id="PermissionApi" type="RapidWebDev.Platform.Linq.PermissionApi, RapidWebDev.Platform">
		<constructor-arg name="authenticationContext" ref="AuthenticationContext" />
		<constructor-arg name="membershipApi" ref="MembershipApi" />
		<constructor-arg name="roleApi" ref="RoleApi" />
		<constructor-arg name="organizationApi" ref="OrganizationApi" />
		<constructor-arg name="platformConfiguration" ref="PlatformConfiguration" />
		<constructor-arg name="permissionConfigurationReader" ref="PermissionConfigurationReader" />
		<property name="Cache" ref="Cache" />
	</object>

	<object id="PermissionConfigurationReader" type="RapidWebDev.Platform.XmlFilePermissionConfigurationReader, RapidWebDev.Platform">
		<constructor-arg name="permissionFilePath" value="~/Config/permissions.config" />
	</object>

	<object id="PermissionBridge" type="RapidWebDev.Platform.Web.DynamicPage.PermissionBridge, RapidWebDev.Platform">
		<constructor-arg name="authenticationContext" ref="AuthenticationContext" />
		<constructor-arg name="permissionApi" ref="PermissionApi" />
		<constructor-arg name="siteMapApi" ref="SiteMapApi" />
	</object>

	<object id="SiteMapApi" type="RapidWebDev.Platform.SiteMapApi, RapidWebDev.Platform">
		<constructor-arg name="authenticationContext" ref="AuthenticationContext" />
		<constructor-arg name="roleApi" ref="RoleApi" />
		<constructor-arg name="organizationApi" ref="OrganizationApi" />
		<constructor-arg name="permissionApi" ref="PermissionApi" />
		<constructor-arg name="platformConfiguration" ref="PlatformConfiguration" />
		<constructor-arg name="siteMapFilePath" value="~/Config/siteMap.config" />
	</object>
	
	<object id="RoleApi" type="RapidWebDev.Platform.Linq.RoleApi, RapidWebDev.Platform">
		<constructor-arg name="authenticationContext" ref="AuthenticationContext" />
		<property name="Cache" ref="Cache" />
	</object>
	<object id="SequenceNoApi" type="RapidWebDev.Platform.Linq.SequenceNoApi, RapidWebDev.Platform">
		<constructor-arg name="authenticationContext" ref="AuthenticationContext" />
	</object>
	<object id="ApplicationApi" type="RapidWebDev.Platform.Linq.ApplicationApi, RapidWebDev.Platform">
		<property name="Cache" ref="Cache" />
	</object>
	<object id="AuthenticationContext" type="RapidWebDev.Platform.HttpAuthenticationContext, RapidWebDev.Platform">
		<constructor-arg name="applicationApi" ref="ApplicationApi" />
	</object>

  
	<object id="PlatformConfiguration" type="RapidWebDev.Platform.Initialization.PlatformConfiguration, RapidWebDev.Platform">
		<property name="AreaHierarchyTypeValue" value="Area" />
		<property name="OrganizationType">
			<object type="RapidWebDev.Platform.OrganizationTypeObject, RapidWebDev.Platform">
				<property name="Domain" value="Department" />
				<property name="Name" value="Management Group" />
			</object>
		</property>
		<property name="Organization">
			<object type="RapidWebDev.Platform.OrganizationObject, RapidWebDev.Platform">
				<property name="OrganizationName" value="RapidWebDev.Org" />
				<property name="OrganizationCode" value="RWD" />
				<property name="Description" value="http://www.rapidwebdev.org" />
				<property name="Status" value="Enabled" />
			</object>
		</property>
		<property name="Role">
			<object type="RapidWebDev.Platform.RoleObject, RapidWebDev.Platform">
				<property name="RoleName" value="Administrators" />
				<property name="Domain" value="Department" />
				<property name="Description" value="System default role allows to manage and access all resources in the system." />
			</object>
		</property>
		<property name="User">
			<object type="RapidWebDev.Platform.UserObject, RapidWebDev.Platform">
				<property name="UserName" value="admin" />
				<property name="DisplayName" value="Administrator" />
				<property name="Email" value="eunge.liu@rapidwebdev.com" />
				<property name="PasswordQuestion"><null /></property>
				<property name="MobilePin"><null /></property>
				<property name="IsApproved" value="True" />
			</object>
		</property>
		<property name="Password" value="password1" />
		<property name="PasswordAnswer"><null /></property>
		<property name="Domains">
			<list element-type="RapidWebDev.Platform.Initialization.OrganizationDomain, RapidWebDev.Platform">
				<object type="RapidWebDev.Platform.Initialization.OrganizationDomain, RapidWebDev.Platform">
					<property name="Text" value="$Resources.Membership.OrganizationType_Domain_Department, RapidWebDev.Web$" />
					<property name="Value" value="Department" />
				</object>
				<object type="RapidWebDev.Platform.Initialization.OrganizationDomain, RapidWebDev.Platform">
					<property name="Text" value="$Resources.Membership.OrganizationType_Domain_Customer, RapidWebDev.Web$" />
					<property name="Value" value="Customer" />
				</object>
			</list>
		</property>
	</object>
</objects>