<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">		
	<object id="WebResourceManager" type="RapidWebDev.UI.WebResources.DefaultWebResourceManager, RapidWebDev.UI">
		<property name="TemporaryFileStorageDirectory" value="~/TemporaryFiles/" />
		<property name="TemporaryFileVirtualDirectory" value="/TemporaryFiles/" />
	</object>
	
	<object id="WebResources.FramePage" type="WebResourceGroup">
		<property name="Resources">
			<list element-type="WebResource">
				<object type="WebResource">
					<property name="Type" value="Style" />
					<property name="Uri" value="~/Resources/Css/ext-all.css" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="Style" />
					<property name="Uri" value="~/Resources/Css/global.css" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/jquery.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ext-jquery-adapter.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ext-all.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ext-locale/ext-lang-zh_CN.js" />
					<property name="Independent" value="true" />
					<property name="CultureName" value="zh-CN" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/MessageBox.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ModalWindowHandler.js" />
				</object>
			</list>
		</property>
	</object>
	
	<object id="WebResources.DynamicPage" type="WebResourceGroup">
		<property name="Resources">
			<list element-type="WebResource">
				<object type="WebResource">
					<property name="Type" value="Style" />
					<property name="Uri" value="~/Resources/Css/ext-all.css" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="Style" />
					<property name="Uri" value="~/Resources/Css/global.css" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/jquery.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ext-jquery-adapter.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ext-all.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ext-locale/ext-lang-zh_CN.js" />
					<property name="Independent" value="true" />
					<property name="CultureName" value="zh-CN" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/DateTime.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/MessageBox.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/GridViewPanel.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ButtonPanel.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ModalWindowHandler.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/HierarchySelector.js" />
				</object>
			</list>
		</property>
	</object>
	
	<object id="WebResources.DetailPanel" type="WebResourceGroup">
		<property name="Resources">
			<list element-type="WebResource">
				<object type="WebResource">
					<property name="Type" value="Style" />
					<property name="Uri" value="~/Resources/Css/ext-all.css" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="Style" />
					<property name="Uri" value="~/Resources/Css/ux-all.css" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="Style" />
					<property name="Uri" value="~/Resources/Css/global.css" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/jquery.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ext-jquery-adapter.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ext-all.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ext-locale/ext-lang-zh_CN.js" />
					<property name="Independent" value="true" />
					<property name="CultureName" value="zh-CN" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ux-all.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/DateTime.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/MessageBox.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/TreeView.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ModalWindowHandler.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/SelectionFieldMetadataControl.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/HierarchySelector.js" />
				</object>
			</list>
		</property>
	</object>
	
	<object id="WebResources.AggregatePanel" type="WebResourceGroup">
		<property name="Resources">
			<list element-type="WebResource">
				<object type="WebResource">
					<property name="Type" value="Style" />
					<property name="Uri" value="~/Resources/Css/ext-all.css" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="Style" />
					<property name="Uri" value="~/Resources/Css/ux-all.css" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="Style" />
					<property name="Uri" value="~/Resources/Css/global.css" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/jquery.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ext-jquery-adapter.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ext-all.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ext-locale/ext-lang-zh_CN.js" />
					<property name="Independent" value="true" />
					<property name="CultureName" value="zh-CN" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ux-all.js" />
					<property name="Independent" value="true" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/DateTime.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/MessageBox.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/TreeView.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/ModalWindowHandler.js" />
				</object>
				<object type="WebResource">
					<property name="Type" value="JavaScript" />
					<property name="Uri" value="~/Resources/JavaScript/HierarchySelector.js" />
				</object>
			</list>
		</property>
	</object>
</objects>