<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web" />
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="dataContext" type="RapidWebDev.Common.Data.DataContextConfiguration, RapidWebDev.Common" />
    <section name="framePage" type="RapidWebDev.UI.DynamicPages.Configurations.FramePageConfigurationSection, RapidWebDev.UI" />
  </configSections>
  <appSettings />
  <dataContext enabledMSDTC="false" commandTimeout="30">
    <settings>
      <setting name="MembershipDataContext" connectionType="System.Data.SqlClient.SqlConnection" connectionStringName="Global" />
      <setting name="ExtensionModelDataContext" connectionType="System.Data.SqlClient.SqlConnection" connectionStringName="Global" />
      <setting name="FileManagementDataContext" connectionType="System.Data.SqlClient.SqlConnection" connectionStringName="Global" />
      <setting name="StatisticsDataContext" connectionType="System.Data.SqlClient.SqlConnection" connectionStringName="Global" />
    </settings>
  </dataContext>
  <connectionStrings>
    <add name="Global" providerName="System.Data.SqlClient" connectionString="server=localhost;Initial Catalog=RapidWebDev;uid=sa;pwd=; Max Pool Size=4096; Min Pool Size=10" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".Global" defaultUrl="FramePage.svc" loginUrl="LogOn.aspx" slidingExpiration="true" timeout="60" />
    </authentication>
    <!-- Max upload file size in KB: 200MB-->
    <httpRuntime maxRequestLength="204800" />
    <pages configSource="Config\pages.config" />
    <globalization culture="auto" uiCulture="auto" />
    <httpHandlers>
      <add path="*.aspx" verb="*" type="Spring.Web.Support.PageHandlerFactory, Spring.Web" />
      <add path="DynamicPage.svc" verb="*" type="RapidWebDev.UI.Services.DynamicPageHandler, RapidWebDev.UI" />
      <add path="DynamicPageDataService.svc" verb="GET, POST" type="RapidWebDev.UI.Services.DynamicPageDataServiceHandler, RapidWebDev.UI" />
      <add path="DynamicPageDownloadExcel.svc" verb="*" type="RapidWebDev.UI.Services.DynamicPageDataToExcelHandler, RapidWebDev.UI" />
      <add path="DynamicPageHtmlPrinter.svc" verb="*" type="RapidWebDev.UI.Services.DynamicPageDataToHtmlHandler, RapidWebDev.UI" />
      <add path="DetailPanel.svc" verb="*" type="RapidWebDev.UI.Services.DetailPanelPageHandler, RapidWebDev.UI" />
      <add path="AggregatePanel.svc" verb="*" type="RapidWebDev.UI.Services.AggregatePanelPageHandler, RapidWebDev.UI" />
      <add path="FramePage.svc" verb="*" type="RapidWebDev.UI.Services.FramePageHandler, RapidWebDev.UI" />
      <add path="ContextMonitor.ashx" verb="*" type="Spring.Web.Support.ContextMonitor, Spring.Web" />
      <add path="FileUploadService.svc" verb="POST, GET" type="RapidWebDev.FileManagement.Web.FileUploadHttpHandler, RapidWebDev.FileManagement" />
      <add path="FileDownloadService.svc" verb="GET" type="RapidWebDev.FileManagement.Web.FileDownloadHttpHandler, RapidWebDev.FileManagement" />
      <add path="FileIconDownloadService.svc" verb="GET" type="RapidWebDev.FileManagement.Web.FileIconDownloadHttpHandler, RapidWebDev.FileManagement" />
    </httpHandlers>
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web" />
      <add name="PlatformModule" type="RapidWebDev.Platform.PlatformModule, RapidWebDev.Platform" />
    </httpModules>
    <machineKey configSource="Config\machineKey.config" />
    <membership configSource="Config\membership.config" />
    <roleManager configSource="Config\roleManager.config" />
    <sessionState mode="InProc" stateNetworkTimeout="30" timeout="14400" />
    <customErrors configSource="Config\customErrors.config" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web" />
      <add name="PlatformModule" type="RapidWebDev.Platform.PlatformModule, RapidWebDev.Platform" />
    </modules>
    <handlers>
      <add name="DynamicPage" path="DynamicPage.svc" preCondition="managedHandler" verb="*" type="RapidWebDev.UI.Services.DynamicPageHandler, RapidWebDev.UI" />
      <add name="DynamicPageDataService" path="DynamicPageDataService.svc" preCondition="managedHandler" verb="GET, POST" type="RapidWebDev.UI.Services.DynamicPageDataServiceHandler, RapidWebDev.UI" />
      <add name="DynamicPageDownloadExcel" path="DynamicPageDownloadExcel.svc" preCondition="managedHandler" verb="GET, POST" type="RapidWebDev.UI.Services.DynamicPageDataToExcelHandler, RapidWebDev.UI" />
      <add name="DynamicPageHtmlPrinter" path="DynamicPageHtmlPrinter.svc" preCondition="managedHandler" verb="*" type="RapidWebDev.UI.Services.DynamicPageDataToHtmlHandler, RapidWebDev.UI" />
      <add name="DetailPanel" path="DetailPanel.svc" preCondition="managedHandler" verb="*" type="RapidWebDev.UI.Services.DetailPanelPageHandler, RapidWebDev.UI" />
      <add name="AggregatePanel" path="AggregatePanel.svc" preCondition="managedHandler" verb="*" type="RapidWebDev.UI.Services.AggregatePanelPageHandler, RapidWebDev.UI" />
      <add name="FramePage" path="FramePage.svc" preCondition="managedHandler" verb="*" type="RapidWebDev.UI.Services.FramePageHandler, RapidWebDev.UI" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="LogOn.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestfulEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AuthenticationBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="RapidWebDev.Platform.Services.RapidWebServiceAuthorizationManager, RapidWebDev.Platform, Version=1.5.4.0" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="HttpStreaming">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
      <mexHttpBinding>
        <binding name="HttpStreaming" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" />
      </mexHttpBinding>
    </bindings>
    <services configSource="Config\restfulServices.config" />
  </system.serviceModel>
  <spring>
    <typeAliases>
      <alias name="WebResource" type="RapidWebDev.UI.WebResources.WebResource, RapidWebDev.UI" />
      <alias name="WebResourceGroup" type="RapidWebDev.UI.WebResources.WebResourceGroup, RapidWebDev.UI" />
    </typeAliases>
    <context>
      <resource uri="~/Spring/all.config" />
    </context>
  </spring>
 
  <framePage NavigationBarTitle="$Resources.Common.NavigationBarTitle, RapidWebDev.Web$" FramePageTitle="$Resources.Common.FramePageTitle, RapidWebDev.Web$" HeaderTemplate="~/Templates/Header.ascx" DefaultPageUrl="Default.aspx" DefaultTabTitle="$Resources.Common.DefaultTabTitle, RapidWebDev.Web$" EnableMultipleTabs="true" MaximumTabs="5" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>