<?xml version="1.0"?>
<pages validateRequest="false" 
	enableEventValidation="false" 
	viewStateEncryptionMode="Never" 
	maintainScrollPositionOnPostBack="true" 
	smartNavigation="false"
	pageBaseType="RapidWebDev.Common.Web.SupportDocumentReadyPage">
	<namespaces>
		<add namespace="RapidWebDev.Common"/>
		<add namespace="RapidWebDev.Platform"/>
		<add namespace="RapidWebDev.UI"/>
		<add namespace="RapidWebDev.UI.Controls"/>
		<add namespace="System.Linq"/>
		<add namespace="System.Collections.Generic"/>
	</namespaces>
	<controls>
		<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		<add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
		<add tagPrefix="FCK" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2"/>
		<add tagPrefix="My" namespace="RapidWebDev.ExtensionModel.Web.Controls" assembly="RapidWebDev.ExtensionModel.Web"/>
		<add tagPrefix="My" namespace="RapidWebDev.Platform.Web.Controls" assembly="RapidWebDev.Platform"/>
		<add tagPrefix="My" namespace="RapidWebDev.UI.DynamicPages" assembly="RapidWebDev.UI"/>
		<add tagPrefix="My" namespace="RapidWebDev.UI.Controls" assembly="RapidWebDev.UI"/>
		<add tagPrefix="My" namespace="RapidWebDev.FileManagement.Web" assembly="RapidWebDev.FileManagement"/>
	</controls>
</pages>