<?xml version="1.0"?>
<Permissions xmlns="http://www.rapidwebdev.org/schemas/permissions">
	<Domain Value="Department">
		<Permission Text="$Resources.SiteMap.Department, RapidWebDev.Web$ $Resources.SiteMap.Management, RapidWebDev.Web$">
			<Permission Text="$Resources.SiteMap.Department, RapidWebDev.Web$ $Resources.SiteMap.Type, RapidWebDev.Web$" Value="DepartmentTypeManagement.All" />
			<Permission Text="$Resources.SiteMap.Department, RapidWebDev.Web$" Value="DepartmentManagement.All" />
			<Permission Text="$Resources.SiteMap.Roles, RapidWebDev.Web$" Value="Department.RoleManagement.All" />
			<Permission Text="$Resources.SiteMap.Users, RapidWebDev.Web$" Value="Department.UserManagement.All" />
			<Permission Text="$Resources.SiteMap.Department, RapidWebDev.Web$ $Resources.SiteMap.Metadata, RapidWebDev.Web$" Value="ExtensionFieldMetadataManagement.Department.All" />
			<Permission Text="$Resources.SiteMap.Department, RapidWebDev.Web$ $Resources.SiteMap.User, RapidWebDev.Web$ $Resources.SiteMap.Metadata, RapidWebDev.Web$" Value="ExtensionFieldMetadataManagement.DepartmentUser.All" />
		</Permission>
		
		<!--<Permission Text="$Resources.SiteMap.Customer, RapidWebDev.Web$ $Resources.SiteMap.Management, RapidWebDev.Web$">
			<Permission Text="$Resources.SiteMap.Customer, RapidWebDev.Web$ $Resources.SiteMap.Type, RapidWebDev.Web$" Value="CustomerTypeManagement.All" />
			<Permission Text="$Resources.SiteMap.Customer, RapidWebDev.Web$" Value="CustomerManagement.All" />
			<Permission Text="$Resources.SiteMap.Roles, RapidWebDev.Web$" Value="Customer.RoleManagement.All" />
			<Permission Text="$Resources.SiteMap.Users, RapidWebDev.Web$" Value="Customer.UserManagement.All" />
			<Permission Text="$Resources.SiteMap.Customer, RapidWebDev.Web$ $Resources.SiteMap.Metadata, RapidWebDev.Web$" Value="ExtensionFieldMetadataManagement.Customer.All" />
			<Permission Text="$Resources.SiteMap.Customer, RapidWebDev.Web$ $Resources.SiteMap.User, RapidWebDev.Web$ $Resources.SiteMap.Metadata, RapidWebDev.Web$" Value="ExtensionFieldMetadataManagement.CustomerUser.All" />
		</Permission>-->

		<Permission Text="$Resources.SiteMap.Customer, RapidWebDev.Web$ $Resources.SiteMap.Management, RapidWebDev.Web$" Value="CustomerManagement">
			<Permission Text="Update" Value="CustomerManagement.Update" />
			<Permission Text="New" Value="CustomerManagement.New" />
			<Permission Text="View" Value="CustomerManagement.View" />
			<Permission Text="Delete" Value="CustomerManagement.Delete" />
		</Permission>

		<Permission Text="$Resources.SiteMap.Maintenance, RapidWebDev.Web$">
			<Permission Text="$Resources.SiteMap.ConcreteData, RapidWebDev.Web$">
				<Permission Text="$Resources.SiteMap.Currency, RapidWebDev.Web$" Value="CurrencyManagement.All" />
				<Permission Text="$Resources.SiteMap.Language, RapidWebDev.Web$" Value="LanguageManagement.All" />
				<Permission Text="$Resources.SiteMap.Announce, RapidWebDev.Web$" Value="AnnounceManagement.All" />
			</Permission>

			<Permission Text="$Resources.SiteMap.Hierarchy, RapidWebDev.Web$">
				<Permission Text="$Resources.SiteMap.Areas, RapidWebDev.Web$" Value="AreaManagement.All" />
			</Permission>
		</Permission>
	</Domain>
</Permissions>